@import './base/reset';
html,body {
    width: 100%;
    height: 100%;
}
#app{
    width: 100%;
    height: 100%;
    &>div{
        width: 100%;
        height: 100%;
    }
    .wx-header{
        height: 40px;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #f7f7f7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
        &>span{
            display: inline-block;
            font-size: 14px;
            margin-left: 18px;
        }
        &>div{
            margin-right: 18px;
            &>span{
                font-size: 16px;
                &:nth-of-type(1){
                    margin-right: 20px;
                }
            }
        }
    }
    .wx-footer{
        height: 60px;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #f7f7f7;
        z-index: 99;
        &>ul{
            height: 100%;
            display: flex;
            &>li{
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                &>a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .icon{
                        width: 26px;
                        height: 26px;
                    }
                    &>span{
                        font-size: 12px;
                    }
                    &.active{
                        &>.icon{
                            fill:#08bf62;
                        }
                        &>span{
                            color: #08bf62;
                        }
                    }
                }
            }
        }
    }
    .wx-content{
        position: relative;
        top: 40px;
        width: 100%;
        min-height: calc(100% - 100px);
        background-color: #fff;
        overflow: auto;
    }
}